VITE_API_URL=http://localhost:3000
VITE_WS_URL=ws://localhost:3000

CLIENT_URL=http://localhost:5173

PORT=3000
WORKER_THREADS=4
JWT_SECRET=my-super-secret

ADMIN_PASSWORD=12345678

CORS_ORIGINS=http://localhost:5173,http://192.168.1.6:5173

DB_USER=user
DB_PASSWORD=password
DB_NAME=db
DB_HOST=localhost
DB_PORT=5432

DB_URL="postgresql://user:password@localhost:5432/db?schema=public"

S3_ACCESS_KEY=my-s3-access-key
S3_SECRET_KEY=my-s3-secret-key
S3_NAME=convert
S3_REGION=us-east-1
S3_URL=http://localhost:9000
S3_PORT=9000
S3_CONSOLE_PORT=9001
